<div class="container">
  <div class="card">
    <h2 class="card-header"><fa-icon [icon]="faGraduationCap"></fa-icon> Cursus scolaire</h2>
    <div class="card-body">
      <div class="row d-inline">
        <div class="col-xs-6">
          <h4>3IL - Institut d'ingénierie informatique de Limoges</h4>
        </div>
        <div class="col-xs-6">
          <h4 class="text-right"><fa-icon [icon]="faCalendarAlt"></fa-icon> 2017 - 2020</h4>
        </div>
      </div>
      <h4>
        <span class="badge badge-dark">Troisième année du cursus ingénieur</span>
      </h4>
      <p>
        Formation d'ingénieur à l'institut d'ingénierie informatique de Limoges.
      </p>
      <hr />
      <div class="row d-inline">
        <div class="col-xs-6"><h4>Institution Beaupeyrat</h4></div>
        <div class="col-xs-6">
          <h4 class="text-right"><fa-icon [icon]="faCalendarAlt"></fa-icon> 2015 - 2017</h4>
        </div>
      </div>
      <h4>
        <span class="badge badge-dark">BTS SIO - Services Informatiques aux Organisations</span>
      </h4>
      <p>
        BTS SIO spécialité SLAM (Solutions Logiciels et Applications Métiers) au Lycée Beaupeyrat à Limoges, avec un enseignement
        complémentaire en classe préparatoire à l’école d’ingénieur informatique 3IL.
      </p>
      <hr />
      <div class="row d-inline">
        <div class="col-xs-6"><h4>Lycée Saint-Jean</h4></div>
        <div class="col-xs-6">
          <h4 class="text-right"><fa-icon [icon]="faCalendarAlt"></fa-icon> 2012 - 2015</h4>
        </div>
      </div>
      <h4><span class="badge badge-dark">Baccalaureat scientifique</span></h4>
      <p>
        Baccalauréat scientifique – Option Physique-Chimie - mention : assez bien
      </p>
    </div>
  </div>
  <hr />
</div>
