<div class="container">
  <div class="card">
    <h2 class="card-header"><fa-icon [icon]="faTasks"></fa-icon> Compétences</h2>
    <div class="card-body">
      <div>
        <app-progress-bar title="JAVASCRIPT / TYPESCRIPT" value="95"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="REACT" value="85"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="ANGULAR 2+" value="80"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="MYSQL" value="80"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="PHP" value="80"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="JAVA" value="75"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="C / C++" value="75"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="HTML / CSS" value="70"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="DOCKER" value="60"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="JENKINS" value="50"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="RUST" value="40"></app-progress-bar>
      </div>
      <hr />
    </div>
  </div>
</div>
