<div class="container">
  <div class="card">
    <h2 class="card-header">
      <fa-icon [icon]="faTasks"></fa-icon> Compétences
    </h2>
    <div class="card-body">
      <div>
        <app-progress-bar title="JAVASCRIPT" value="90"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar
          title="ANGULAR 6 / REACT"
          value="85"
        ></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="PHP / MYSQL" value="80"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="HTML / CSS" value="70"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="BOOTSTRAP" value="60"></app-progress-bar>
      </div>
      <div class="mt-3">
        <app-progress-bar title="JQUERY" value="60"></app-progress-bar>
      </div>
      <hr />
    </div>
  </div>
</div>
