<div class="container">
  <div class="card">
    <h2 class="card-header">
      <fa-icon [icon]="faUserAlt"></fa-icon> Ingénieur informatique
    </h2>
    <div class="card-body">
      <div class="row">
        <p class="card-text col-sm-12 col-lg-7">
          Actuellement étudiant à l'école d'ingénieur informatique de Limoges,
          je suis un passioné de nouvelles technologies et de développement.
          Étant curieux et autodidacte, j'aime découvrir de nouveaux frameworks
          et langages de programmation et les mettre en pratique dans mes
          projets. N'hesitez pas à me contacter en cas de question.
        </p>
        <div class="col-sm-12 col-lg-5 centrer">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-7">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                  <a href="mailto:vladkyry@gmail.com"> vladkyry@gmail.com</a>
                </div>
                <div class="col-sm-5">
                  <fa-icon [icon]="faLinkedin"></fa-icon>
                  <a
                    href="https://www.linkedin.com/in/vladyslav-kyrylyshyn-657862118/"
                  >
                    LinkedIn</a
                  >
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-7">
                  <fa-icon [icon]="faGithub"></fa-icon>
                  <a href="https://github.com/Spoutnik87"> Compte Github</a>
                </div>
                <div class="col-sm-5">
                  <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Limoges
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
