<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-7">
      <div class="media">
        <img class="mr-3" src="https://via.placeholder.com/150x150" />
        <div class="media-body">
          <h2 class="mt-0">Développeur web</h2>
          Actuellement étudiant à l'école d'ingénieur informatique de Limoges,
          je suis un passioné de nouvelles technologies et du développement web.
          Je suis particulierement interessé par les frameworks de développement
          d'applications web. Ainsi je réalise des applications React depuis 2
          ans et Angular plus récemment.
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-5 centrer">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <i class="fas fa-mobile-alt"></i> 06.10.03.06.86
            </div>
            <div class="col-sm-6">
              <i class="far fa-envelope"></i> vladkyry@gmail.com
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-6">
              <i class="fas fa-map-marker-alt"></i> Feytiat
            </div>
            <div class="col-sm-6">
              <i class="fab fa-github"></i>
              <a href="https://github.com/Spoutnik87">Compte Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
