<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>
        <fa-icon [icon]="faBriefcase"></fa-icon> Experience professionnelle
      </h2>
      <hr />
      <div class="col-lg-12">
        <div class="row d-inline">
          <div class="col-xs-6"><h4>Linkli</h4></div>
          <div class="col-xs-6">
            <h4 class="text-right">
              <fa-icon [icon]="faCalendarAlt"></fa-icon> Decembre 2016 - Fevrier
              2017
            </h4>
          </div>
        </div>
        <h4><span class="badge badge-primary">Développeur web</span></h4>
        <p>
          Réalisation d’une application facilitant la gestion des comptes de
          réseaux sociaux de l’entreprise.
        </p>
      </div>
      <div class="col-lg-12">
        <div class="row d-inline">
          <div class="col-xs-6"><h4>Entente Colombophile de Limoges</h4></div>
          <div class="col-xs-6">
            <h4 class="text-right">
              <fa-icon [icon]="faCalendarAlt"></fa-icon> Mai 2016 - Juin 2016
            </h4>
          </div>
        </div>
        <h4><span class="badge badge-primary">Développeur web</span></h4>
        <p>Création d’un site web dynamique en PHP pour cette association.</p>
      </div>
    </div>
  </div>
  <hr />
</section>
