<div class="container">
  <div class="card">
    <h2 class="card-header">
      <fa-icon [icon]="faBriefcase"></fa-icon> Expérience professionnelle
    </h2>
    <div class="card-body">
      <div class="col-lg-12">
        <div class="row d-inline">
          <div class="col-xs-6"><h4>Linkli</h4></div>
          <div class="col-xs-6">
            <h4 class="text-right">
              <fa-icon [icon]="faCalendarAlt"></fa-icon> Décembre 2016 - Février
              2017
            </h4>
          </div>
        </div>
        <h4><span class="badge badge-dark">Développeur web</span></h4>
        <p>
          Réalisation d’une application facilitant la gestion des comptes de
          réseaux sociaux de l’entreprise.
        </p>
      </div>
      <div class="col-lg-12">
        <div class="row d-inline">
          <div class="col-xs-6"><h4>Entente Colombophile de Limoges</h4></div>
          <div class="col-xs-6">
            <h4 class="text-right">
              <fa-icon [icon]="faCalendarAlt"></fa-icon> Mai 2016 - Juin 2016
            </h4>
          </div>
        </div>
        <h4><span class="badge badge-dark">Développeur web</span></h4>
        <p>Création d’un site web dynamique pour cette association.</p>
        <app-projet
          title="Site d'enchère"
          [technologies]="['php', 'html', 'css', 'javascript', 'mysql']"
          (view)="redirectToEnchere()"
          viewEnabled="true"
          >Site d'enchère permettant la vente de pigeons voyageurs.
        </app-projet>
      </div>
    </div>
  </div>
  <hr />
</div>
